<a href="https://colab.research.google.com/github/AnnyTech-web/Micky/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
my_tuple = (30, 494, "DDA", "Pass", 34, 890)
my_tuple

(30, 494, 'DDA', 'Pass', 34, 890)

In [2]:
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
print("Third element:", my_tuple[2])

First element: 30
Second element: 494
Third element: DDA

In [3]:
for item in my_tuple:
  print(item)

30
494
DDA
Pass
34
890